{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}
   About
{% endblock %}

{% block body_block %}
         <h1>Rango says here is the about page.</h1>
         
         <p><strong>Number of visits you have made to this site: {{ visits }}</strong></p><br />
         
         <p><strong>This tutorial has been put together by Jake Degiovanni, 2066890</strong><br /></p> 
         
         <img src="{% static "images/Me.jpg" %}"  alt="Picture of Jake Degiovanni" />
         <img src="{% static "images/rangoSheriff.jpg" %}" width="900" height="500" alt="Picture of Rango as Sheriff" />
{% endblock %}