{% extends "rango/base.html" %}

{% load staticfiles %}

{% block title %}
    Profile
{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h2>{{ user.username }}</h1>
    </div>
    <div class="col-md-6">
        <p>Email: {{ user.email }} </p><br />
        <p>Website: <a href="{{ own_profile.website }}">{{ own_profile.website }}</a></p><br /> 
        {% if own_profile.picture %}
            <div style="height:204px; width:240px">
            <img src="{{ own_profile.picture.url }}" style="max-width:100%;max-height:100%;margin:auto;display:block" />
            </div>
        {% endif %}
        {% if own_profile %}
            <a href="{% url 'edit_profile' %}">Edit Profile</a> 
            <br />
            <p><a href="{% url 'password_change' %}">Change password</a></p> 
        {% endif %}
        
        
    </div>
{% endblock %}